@font-face {
    font-family: "Lulo-Clean";
    src: local("Lulo-Clean"),
        url("./fonts/Lulo\ Clean\ W01\ One\ Bold.ttf") format('truetype');
}

.font-face-lulo {
    font-family: "Lulo-Clean";
}

#main-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 82px;
    align-self: stretch;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.7);
}

#nav-logo {
    position: relative;
    height: 100%;
}

#nav-logo-link {
    position: relative;
    height: 60px;
    width: 106px;
    margin: 11px 0px 11px calc((100% - 980px) * 0.5);
    left: 2px;
    justify-self: start;
    align-self: start;
}

#nav-balance-logo {
    visibility: hidden;
    width: 106px;
    height: 60px;
    margin: 11px 0px 11px 0px;
    margin-right: calc((100% - 980px) * 0.5);
    left: 2px;
    flex: 1 1;
}

@media all and (max-width: 1008px) {
    #nav-logo-link{
        margin-left: 0px;
        left: 0px;
    }
}

#nav-links {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
    align-items: center; 
    justify-content: center;  
    align-self: center;
}

#nav-links > a {
    font-family: 'Lulo-Clean';
    white-space: nowrap;
    flex: 1 1;
    text-align: center;
}

#nav-yellow-bar {
    position: relative;
    background: #ffd801;
    width: 100%;
    height: 6px;
}