@font-face {
    font-family: "Lulo-Clean";
    src: local("Lulo-Clean"),
        url("./fonts/Lulo\ Clean\ W01\ One\ Bold.ttf") format('truetype');
}

.font-face-lulo {
    font-family: "Lulo-Clean";
}